*, *::after, *::before {
  box-sizing: border-box;
}

body {
  padding: 8px;
}

.post-wrap {
  border: 1px gray solid;
  padding: 8px;
  margin-top: 10px;
}

.new-post-title {
  width: 100%;
}

.new-post-area {
  width: 100%;
  resize: vertical;
}

.post-wrap-selected {
  color: blue;
}

.post-title {
  cursor: pointer;
}